$info-bg-color: #C0E6F8;
$info-text-color: #0E4B66;
$info-content-color: #074762;
$success-bg-color: #D1F1C9;
$success-text-color: #1B3F0A;
$success-content-color: #113D04;
$danger-bg-color: #F0C2C2;
$danger-text-color: #8D131B;
$danger-content-color: #8D131B;
$warning-bg-color: #FDEBBD;
$warning-text-color: #755003;
$warning-content-color: #795500;

$color-default: #8A97A3;
$color-default-content: #1D2123;
$color-primary: #0065B0;
$color-secondary: #417DAD;
$color-danger: #CD2E2F;
$color-disabled: #9AAFC3;
$color-white: #ffffff;
$color-text-muted: #84878A;
$color-active: #BBC6D2;

$color-form-text-default: #232125;
$color-form-bg-disabled: #D6DDE5;
$color-form-addon-bg: #E8ECEF;